{% extends 'base.html.twig' %}

{% block title %}New Comment{% endblock %}

{% block body %}
   <h1>Ajouter un commentaire pour {{ song.title }}</h1>

    {{ form_start(form) }}
        {{ form_row(form.content) }}
        <button class="btn btn-primary">Ajouter le commentaire</button>
    {{ form_end(form) }}

    <a href="{{ path('app_comment_show', { songId: song.id }) }}" class="btn btn-secondary mt-4">Retour à la liste des commentaires</a>
{% endblock %}
