{{ form_start(form, {'attr': {'class': 'max-w-4xl mx-auto p-6 bg-white shadow-lg rounded-lg'}}) }}
    <div class="space-y-6">
        <div class="flex flex-col">
            {{ form_label(form.title, 'Titre de la chanson', {'attr': {'class': 'text-lg font-semibold text-gray-700'}}) }}
            {{ form_widget(form.title, {'attr': {'class': 'px-4 py-2 rounded-lg border border-gray-300 focus:ring-2 focus:ring-blue-500'}}) }}
        </div>
        
        <div class="flex flex-col">
            {{ form_label(form.artist, 'Artiste', {'attr': {'class': 'text-lg font-semibold text-gray-700'}}) }}
            {{ form_widget(form.artist, {'attr': {'class': 'px-4 py-2 rounded-lg border border-gray-300 focus:ring-2 focus:ring-blue-500'}}) }}
        </div>

        <div class="flex flex-col">
            {{ form_label(form.album, 'Album', {'attr': {'class': 'text-lg font-semibold text-gray-700'}}) }}
            {{ form_widget(form.album, {'attr': {'class': 'px-4 py-2 rounded-lg border border-gray-300 focus:ring-2 focus:ring-blue-500'}}) }}
        </div>

        <div class="flex flex-col">
            {{ form_label(form.releaseDate, 'Date de sortie', {'attr': {'class': 'text-lg font-semibold text-gray-700'}}) }}
            {{ form_widget(form.releaseDate, {'attr': {'class': 'px-4 py-2 rounded-lg border border-gray-300 focus:ring-2 focus:ring-blue-500'}}) }}
        </div>

        <div class="flex flex-col">
            {{ form_label(form.genre, 'Genre', {'attr': {'class': 'text-lg font-semibold text-gray-700'}}) }}
            {{ form_widget(form.genre, {'attr': {'class': 'px-4 py-2 rounded-lg border border-gray-300 focus:ring-2 focus:ring-blue-500'}}) }}
        </div>
        
        <div class="flex justify-center">
            <button type="submit" class="bg-blue-500 text-white py-3 px-6 rounded-full hover:bg-blue-600 focus:outline-none focus:ring-4 focus:ring-blue-300 transition duration-300 text-lg">
                {{ button_label|default('Enregistrer') }}
            </button>
        </div>
    </div>
{{ form_end(form) }}