<h1>Ajouter "{{ song.name }}" à une playlist</h1>

{{ form_start(form) }}
    {{ form_row(form.existing_playlist) }}
    
    {{ form_row(form.name) }}
    
    {{ form_row(form.songs) }}
    
    <button class="btn btn-primary">Ajouter à la playlist</button>
{{ form_end(form) }}