{% extends 'base.html.twig' %}

{% block title %}Hello {{app.user.firstName}}!{% endblock %}

{% block body %}
  <div class="h-screen flex items-center justify-center">
        <div class="w-full max-w-md bg-white shadow-lg rounded-lg overflow-hidden">
            <div class="bg-gradient-to-r from-green-400 via-blue-500 to-purple-600 h-24"></div>
            <div class="flex justify-center -mt-12">
                <div class="w-24 h-24 bg-gray-200 rounded-full border-4 border-white overflow-hidden">
                    <img src="{{ asset('images/avatar.png') }}" alt="Avatar">
                </div>
            </div>
            <div class="text-center px-6 py-4">
                <h1 class="text-gray-800 text-2xl font-bold">{{ app.user.firstName }} {{ app.user.lastName }}</h1>
                <p class="text-gray-600 mt-2">Bienvenue sur MyMusic 🎵</p>
            </div>
            <div class="flex justify-center mt-6">
    <a href="{{ path('myProfile') }}" class="bg-blue-500 text-white px-6 py-2 text-lg rounded hover:bg-blue-600 inline-block text-center">
        Voir mon profil
    </a>
</div>
        </div>
    </div>

   
    
{% endblock %}
