{% extends 'base.html.twig' %}

{% block title %}Réinitialisation du mot de passe{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="mt-5">Réinitialiser votre mot de passe</h1>

        {# Formulaire de réinitialisation du mot de passe #}
        <div class="card mt-3">
            <div class="card-body">
                <form action="{{ path('app_reset_password') }}" method="POST">
                    {{ form_start(resetForm) }}

                    <div class="form-group">
                        {{ form_label(resetForm.plainPassword) }}
                        {{ form_widget(resetForm.plainPassword, {'attr': {'class': 'form-control'}}) }}
                        <small class="form-text text-muted">Votre nouveau mot de passe doit faire au moins 8 caractères.</small>
                    </div>

                    <div class="form-group text-center">
                        <button type="submit" class="btn btn-primary">Réinitialiser le mot de passe</button>
                    </div>

                    {{ form_end(resetForm) }}
                </form>
            </div>
        </div>
    </div>
{% endblock %}
